body {
  text-align: center;
  align-items: center;
  background-image: url("Images/getthingsdone.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  font-family: "Coda Caption", sans-serif;
  background-position: center;
  width: 100%;
  height: 100vh;
}
#view-section li {
  box-sizing: content-box;
  list-style: none;
  padding: 2vh;
  color: black;
  background-color: #fede00;
  opacity: 0.9;
}
#view-section li div {
  font-weight: bolder;
  color: black;
}

#title {
  font-size: 12vh;
  font-family: "Coda Caption", sans-serif;
  margin-top: 0;
}
#sub-title {
  font-size: 4vh;
  /* text-align: center; */
  font-family: "Coda Caption", sans-serif;
  padding-top: 0;
}
#priority-selector {
  font-family: "Coda Caption", sans-serif;
  text-align: center;
  align-items: center;
}
#add-button {
  font-family: "Coda Caption", sans-serif;
}
#sort-button {
  font-family: "Coda Caption", sans-serif;
}

#list {
  margin-top: auto;
}
.todo-container {
  display: inline-flex;
  margin-left: auto;
}
.todo-container div {
  padding-left: 20px;
}
h2 i {
  font-size: 40px;
}
.done-button {
  color: black;
  background-color: #fede00;
  font-size: 20px;
  border: none;
  margin-left: 10px;
  margin-right: 10px;
}
.delete-button {
  color: black;
  background-color: #fede00;
  font-size: 20px;
  border: none;
  margin-left: 10px;
  margin-right: 10px;
}
.todo-priority {
  /* border: 2px solid #fede00;
  border-radius: 80%;
  text-align: center;
  align-items: center;
  box-sizing: content-box; */
}
#option {
  text-align: center;
  align-items: center;
  margin: auto;
}
.navBar {
  position: fixed;
  right: 1vw;
  font-size: 10vh;
}
.navBar:hover {
  color: white;
}
#social-media-bar {
  font-size: 4vh;
  list-style: none;
}
#social-media-bar i {
  color: black;
  opacity: 1;
}
#undo-button {
  position: fixed;
  left: 1vw;
  bottom: 0;
  font-size: 8vh;
}

#undo-button:hover {
  color: orange;
}

#removeAll-button {
  position: fixed;
  left: 1vw;
  bottom: 10vh;
  font-size: 8vh;
}

#removeAll-button:hover {
  color: darkslategrey;
}

#githubIcon:hover {
  color: blueviolet;
}
#fbIcon:hover {
  color: blue;
}
#mailIcon:hover {
  color: red;
}
#percentDone {
  background-color: black;
  width: 0;
}
#user-check {
  position: fixed;
  font-size: 8vh;
  color: black;
  left: 1vw;
  bottom: 20vh;
}

#user-check :hover {
  color: darkred;
}

#motivation-charger {
  position: fixed;
  font-size: 8vh;
  color: black;
  left: 1vw;
  bottom: 32vh;
}
#motivation-charger i {
  color: black;
}
#motivation-charger :hover {
  color: chartreuse;
}

@media screen and (max-width: 830px) {
  #title {
    font-size: 8vh;
  }
  .navBar {
    font-size: 6vh;
  }
}
@media screen and (max-width: 500px) {
  #title {
    font-size: 6vh;
  }
  .navBar {
    font-size: 4vh;
  }
}
@media screen and (max-width: 400px) {
  #title {
    font-size: 6vh;
  }
  .navBar {
    font-size: 4vh;
    margin-top: 6vh;
  }
  #social-media-bar {
    font-size: 2vh;
  }
}
