body {
  text-align: center;
  align-items: center;
  background-color: #fede00;
  background-image: url("Images/getthingsdone.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  font-family: "Coda Caption", sans-serif;
  background-position: center;
  width: 100%;
  height: 100vh;
  overflow-x: hidden;
}

#view-section {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#view-section li {
  box-sizing: content-box;
  list-style: none;
  padding: 1rem;
  color: black;
  background-color: #fede00;
  opacity: 0.9;
  z-index: 2;
  width: 100%;
}

#view-section li div {
  font-weight: bolder;
  color: black;
}

#title {
  font-size: 12vh;
  font-family: "Permanent Marker", cursive;
  margin-top: 0;
  margin-bottom: 0;
}

#sub-title {
  font-size: 4vh;
  font-family: "Coda Caption", sans-serif;
}

#priority-selector {
  font-family: "Coda Caption", sans-serif;
  align-items: center;
  height: 30px;
}

#add-button {
  font-family: "Coda Caption", sans-serif;
  height: 30px;
}

#sort-button {
  font-family: "Coda Caption", sans-serif;
  font-weight: bold;
  height: 30px;
}

#text-input {
  font-family: "Coda Caption", sans-serif;
  height: 25px;
  width: 300px;
}

#help-button {
  position: fixed;
  left: 1vw;
  top: 1vh;
  font-size: 8vh;
}

#help-button:hover {
  color: white;
}

#list {
  width: 100%;
}

.todo-container {
  display: inline-flex;
  margin-left: auto;
}

.todo-container div {
  padding: 5px;
}

h2 i {
  font-size: 40px;
}

.done-button {
  color: black;
  background-color: #fede00;
  font-size: 20px;
  border: none;
  margin-left: 10px;
  margin-right: 10px;
}

.delete-button {
  color: black;
  background-color: #fede00;
  font-size: 20px;
  border: none;
  margin-left: 10px;
  margin-right: 10px;
}

#option {
  text-align: center;
  align-items: center;
  margin: auto;
}

.navBar {
  position: fixed;
  right: 1vw;
  font-size: 8vh;
}

.navBar:hover {
  color: white;
}

#social-media-bar {
  font-size: 5vh;
  list-style: none;
}

#social-media-bar i {
  color: black;
  z-index: 10;
}

#undo-button {
  position: fixed;
  left: 1vw;
  bottom: 0;
  font-size: 8vh;
}

#undo-button:hover {
  color: orange;
}

#removeAll-button {
  position: fixed;
  left: 1vw;
  bottom: 10vh;
  font-size: 8vh;
}

#removeAll-button:hover {
  color: darkslategrey;
}

#githubIcon:hover {
  color: blueviolet;
}

#fbIcon:hover {
  color: blue;
}

#mailIcon:hover {
  color: red;
}

#percentDone {
  background-color: black;
  width: 0;
}

#user-check {
  position: fixed;
  font-size: 8vh;
  color: black;
  left: 1vw;
  bottom: 20vh;
}

#user-check :hover {
  color: darkred;
}

#motivation-charger {
  position: fixed;
  font-size: 8vh;
  color: black;
  left: 1vw;
  bottom: 32vh;
}

#motivation-charger i {
  color: black;
}

#motivation-charger :hover {
  color: chartreuse;
}

#video {
  width: 80%;
  height: 80%;
  left: 10vw;
  right: 10vw;
  position: fixed;
  background-color: black;
  /* align-items: center; */
  bottom: 10vh;
}

#close-video {
  padding-top: 2px;
  margin-right: 0;
}

#motivation-video {
  width: 90%;
  height: 90%;
  align-items: center;
}

#explanation {
  color: #fede00;
  font-size: 12px;
  z-index: 10;
  background-color: black;
  width: 25vw;
  height: 30vh;
  position: fixed;
  top: 12vh;
  left: 1vw;
  border: 1px solid #fede00;
  border-radius: 5%;
}

#explanation #close-icon {
  font-size: 15px;
}

@media screen and (max-width: 830px) {
  #title {
    font-size: 8vh;
  }
  .navBar {
    font-size: 6vh;
  }
}

@media screen and (max-width: 500px) {
  #title {
    font-size: 6vh;
  }
  .navBar {
    font-size: 4vh;
  }
}

@media screen and (max-width: 400px) {
  #title {
    font-size: 6vh;
  }
  .navBar {
    font-size: 4vh;
    margin-top: 6vh;
  }
  #social-media-bar {
    font-size: 2vh;
  }
}
